
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(66, 70, 75);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(143, 157, 173);
    color: white;

}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}




button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}
button:hover{
    background-color: rgb(85, 85, 85);
}
button:active{
    background-color: rgb(139, 139, 139);    
}
.operator-btn{
    background-color: rgb(245, 167, 0); 
}
.operator-btn:hover{
    background-color: rgb(241, 189, 76); 
}
.operator-btn:active{
    background-color: rgb(233, 202, 137); 
}